#helpheader-holder {
    text-align:center;
    font-size:    100%;
    margin: 1em ;
    padding : 1em ;
    background-color: #eeeeee;
    border:1px solid #E0E0E0;
}
ul.help {
  list-style-type : none;
  padding: 0;
  margin: 0;
  display:inline; 
}
li.help {
  display:inline; 
  padding-left:0.2em;
  padding-right:0.2em;
}
li.help:hover {
   background:#E0E0E0;
}
li.help-header {
  display       : block; 
  margin-bottom : 0.2em;
  font-weight: bold;   
  font-family: verdana; 
  font-size: 140%; 
}

.header1  {  font-weight: bold;   font-family: arial; font-size: 140%; margin-top: 0.2em;} 
.header2 {  font-weight: bold;   font-family: arial; font-size: 120%; margin-top: 0.2em;} 
.header3 {  font-style:  italic; font-family: arial; font-size: 120%; margin-top: 0.2em;}
