html, body {
	font-family	    : Verdana, Arial, Helvetica, Sans-serif;
	font-size		    : 10px;	
	line-height	    : 150%;
}

body {
	color           : black;
	background      : #778899;
	text-align      : center;
}

#main_holder {
  margin          : 10px auto 10px auto;
  text-align      : left;
  background-color: #F7F7F7;
	
  min-width       : 400px;
	max-width       : 800px;
	min-height      : 600px;

  border-width    : 1px;
  border-color    : grey;
  border-style    : solid;
  
}

#header_holder {
	background      : url(../img/aigaion.png) no-repeat left top;
	background-color: lightblue;
  
  height          : 40px;  
  min-width       : 400px;
  max-width       : 800px;
  
  border-width    : 1px;
  border-style    : solid;
  border-color    : grey;
  
}

#menu_holder {
  position        : absolute;
  top             : 50px;
  margin          : 10px;
  padding         : 5px;

  border-width    : 1px;
  border-style    : solid;
  border-color    : grey;

  background-color: #F0F0F0;
  width           : 150px;
}
  
#content_holder {
  margin          : 10px 10px 10px 180px;
  padding         : 5px;
  
  border-width    : 1px;
  border-style    : solid;
  border-color    : grey;
  
  background-color: #F0F0F0;
  max-width       : 600px;
  min-height      : 400px;
}

#footer_holder {
  margin          : 10px 10px 10px 180px;

  border-width    : 1px;
  border-style    : solid;
  border-color    : grey;

  background-color: lightblue;
  width           : 600px;
}





div.publication_summary {
  margin-bottom:  1em;
  background-color: lightblue;
}
div.publication_summary.odd {
  background-color: lightgreen;
}

span.authors {
  font-style: italic;
}

span.title {
  font-weight: bold;
}

div.publication_title {
  font-weight: bold;
}

div.author_name {
  font-weight: bold;
}

div.publication_list_header {
  font-weight: bold;
}