div.publication_summary {
  margin-bottom   : 1em;
  background-color: lightblue;
}

div.publication_summary.odd {
  background-color: lightgreen;
}

span.authors {
  font-style: italic;
}

span.title {
  font-weight: bold;
}

div.publication_title {
  font-weight: bold;
}

div.author_name {
  font-weight: bold;
}

div.publication_list_header {
  font-weight: bold;
}

ul.nosymbol {
  list-style-type : none;
}