
/*  Colorscheme   : Granny Smith
    White         : #FFFFFF;
    Semi-white    : #F6F5D4;
    Light-green   : #D0E854;
    Shade-green   : #ABC41F;
    Brown         : #493E0B;
    Red           : #CC0300;
    Black         : #000000;
*/
/*  Colorscheme   : Granny Smith.

    #493E0B : the dark background around the main frame, 
    #493E0B : normal black font
    #FFFFFF : the normal color of the background of the main box
    #D0E854 : background of main site elements
    #ABC41F : border around messageboxes and other borders
    #ABC41F : background of message boxes and headers
    #CC0300 : dark red background of error messages
    #000000 : textcolor on dark red background

    #493E0B : brown color used for all links

    #493E0B : menu text (#493E0B on mouseover)
    #ABC41F : background of menu entries (#D0E854 on mouseover)

    #493E0B : heavy borders
    #ABC41F : edit form background
    #493E0B : edit form elements border
    #FFFFFF : edit form elements background (#F6F5D4 on focus)
    
    #D0E854 : background even publication summaries
    #ABC41F : background odd publication summaries
*/

/* ==== PAGE FLOW BEHAVIOUR  ==== */
/* collapse for all table and div borders / margins / paddings 
   this is default, because otherwise different browsers will show different styles.
   if you want margins and paddings you have to specify them */

div {
    border      : 0px;
    margin      : 0px;
    padding     : 0px;
    position    : relative;
}
/*
td, table, tr, tbody {
    border          : 0px;
    border-spacing  : 0px;
    border-spacing  : 0px;
    border-collapse : collapse;
    margin          : 2px;
    padding         : 0px;
    vertical-align  : top;
}   
*/
/* ==== BASIC FONT DEFINITIONS ==== */

/* fonts */
html, body, p, td, input, textarea, select {
    font-family     : Verdana, Arial, Helvetica, Sans-serif;
    font-size       : 10px;    
	color      : #493E0B;
}

/* default font color for entire body */
body {
	color: #493E0B;
}

/* default link coloring */
a, a:link, a:visited  {
  color             : #493E0B;
  text-decoration   : none;
}
a:hover, a:active {
  color             : #493E0B;
  text-decoration   : underline;
}
/* coloring for lightlinks, not necessarily <a> elements  */
.lightlink, .lightlink:link, .lightlink:visited {
    color           : #493E0B;
    text-decoration : none;
}
.lightlink:hover, .lightlink:active {
    color           : #493E0B;
    text-decoration : none;
}

/* Icons */
.icon {
    width   : 1em;
    border  : 0px;
}
.al_icon {
    border  : 0px;
    width   : 1em;
}

/* Headers */
.header {
  padding         : 0.1em 4em .1em 0.5em;
  margin          : 0 0 1em 0;
  background      : #ABC41F;
  
  font-weight     : bold;
  font-size       : 1.1em;
}

/* optionbox: the edit links in a header, e.g. at a topic page*/
div.optionbox {
  margin-top      : 0.1em;
  padding-right   : 0.2em;
  float           : right;
  clear           : right;
  z-index         : 999;
  text-align      : right;
}

/* ==== COLORS AND BASIC DEFINITIONS FOR MAIN LAYOUT ELEMENTS ====*/

/* Main layout box colors */
body {
  background-color: #493E0B;
}

#page_title {
  color           : #493E0B;
  font-size       : 3em;
  font-weight     : 400;
  font-style      : italic;
}

#main_holder {
  background-color: #FFFFFF;
  border-style    : solid;
  border-width    : 1px;
  border-color    : #493E0B;
}

#header_holder {
  background-color: #D0E854;
  border-style    : solid;
  border-width    : 0px 0px 1px 0px;
  border-color    : #ABC41F;
}

#menu_holder, #content_holder, #footer_holder, #login_holder {
  background-color: #D0E854;
  border-style    : solid;
  border-width    : 1px;
  border-color    : #ABC41F;
}

/* ==== MENU COLORS AND EFFECTS ==== */
ul.mainmenu {
  list-style-type : none;
  padding         : 0;
  margin          : 0;
}
li.mainmenu {
  background      : #ABC41F;
  margin          : 0 0 0.5em 0;
  padding         : 0.2em;
}
li.mainmenu:hover {
  background      : #D0E854;
}
li.mainmenu-header {
  margin-top      : 1em;
  margin-bottom   : 0.2em;
}
li.mainmenu-spacer {
  margin          : 1.5em;
}

/* ==== MESSAGES AND ERRORS ==== */

.message {
    font-size       : 90%;
    margin          : 1em;
    padding         : 1em;
    background-color: #ABC41F;
    border    : solid 1px #ABC41F;
}
.errormessage {
    font-size       : 90%;
    margin          : 1em;
    padding         : 1em;
    background-color: #CC0300;
    border    : solid 1px #ABC41F;
    color           : #000000;
}

/* ==== FORMS ==== */

/* general form element styling */

.editform {
    margin          : 1em;
    padding         : 1em;
    background-color: #ABC41F;
    border          : solid 1px #493E0B;
}
.confirmform {
    margin          : 1em;
    padding         : 1em;
    background-color: #CC0300;
    border          : solid 1px #493E0B;
}

input, textarea, select {
  border-style    : solid;
  border-width    : 1px;
  border-color    : #ABC41F;
  padding         : 0.2em;
  font-size       : 1em;
}
input:focus, textarea:focus, select:focus {
  background-color: #F6F5D4;
  border-color    : #ABC41F;
}
input:hover, textarea:hover, select:hover {
  background-color: #F6F5D4;
  border-color    : #ABC41F;
}

/* special styles for publication edit forms */
input.required, textarea.required, select.required {
  border-color    : #CC0300;
}

input.conditional, textarea.conditional, select.conditional {
  border-color    : #493E0B;
}

tr.hidden {
 visibility       : hidden;
}

/* ==== PUBLICATION VIEWS  ==== */

div.publication_summary {
  padding         : 0.1em 0.1em 1em 0.5em;
  /*border-bottom   : 1px solid #493E0B;*/
  /*border-left     : 1px solid #493E0B;*/
}

div.publication_summary.odd {
  /*background      : #ABC41F; */
  background      : #ABC41F; 
  border-left     : none;
  /*border-right    : 1px solid #493E0B;*/
}


span.author {
  font-style      : italic;
}
span.authorlist {
  font-style      : italic;
}
span.title {
  font-weight     : bold;
}

ul.nosymbol {
  list-style-type : none;
}

div.autocomplete {
  position        : absolute;
  width           : 250px;
  background-color: #FFFFFF;
  border          : 1px solid;
  border-color    : #ABC41F;
  margin          : 0px;
  padding         : 0px;
}
div.autocomplete ul {
    list-style      : none!important;
    list-style-image: none!important;
    margin          : 0px;
    padding         : 0px;
}
div.autocomplete ul li.selected {
    background-color: #F6F5D4;
}
div.autocomplete ul li {
    font-size       : 1em;
    list-style-type : none;
    display         : block;
    margin          : 0;
    padding         : 2px;
    cursor          : pointer;
}


.loginbox {
    padding : 3px;
    border  : 1px solid #493E0B;
}

