ul.topictree-list {
    list-style-type : none;
    padding: 0;
    margin-left: 1.5em;
   
}
ul.topictree-sublist {
    list-style-type : none;
    padding: 0;
    margin-left: 2em;
}
li.topictree-node {
    //margin-top    : 1em;
    //margin-bottom : 0.2em;
    //font-weight   : bold;
}
li.topictree-leaf {
    //margin : 0;
    //font-style   : italic;
    //font-weight   : normal;
}
.subscribedtopic {
    font-weight : bold;
}
.unsubscribedtopic {
    font-weight : normal;
}
