ul.topictree-list {
    list-style-type : none;
    padding: 0;
    margin-left: 1.5em;
}

li.topictree-node {
    margin-top    : 0em;
    margin-bottom : 0em;
}

li.topictree-leaf {
    margin-bottom: 0em;
}

/* IE hack 
problem: empty <li> has a height of 1 em in IE 5 and IE7.
*/
li.topictree-children {
  margin-top: 0em;
  #margin-top: -1em; /* Works on all IE browsers up to version 7 */
  _margin-top: 0em;  /* Works on all IE browsers prior to version 7 */
}

.subscriptionlink {
}

.subscribedtopic {
    font-weight : bold;
}
.unsubscribedtopic {
    font-weight : normal;
}
